body.dark {
  background-color: #0d0d0d;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

html {
  scroll-behavior: smooth;
}

